

Barony\VS.2015\.vs
Barony/VS.2015/.vs/
Barony\VS.2015\.vs\
*.db
*ipch
VS.2015/.vs/Barony/v15/Solution.VC.db
VS.2015/.vs/Barony/v15/Solution.VC.db-wal
*.db-shm
*.db
*.ipch
*.opendb
VS.2015/.vs/Barony/v15/.suo
*.db
*.ipch
*.db
VS.2015/.vs/Barony/v15/.suo
*.db
*.ipch
*.db
VS.2015/.vs/Barony/v15/ipch/AutoPCH/641d4bace7dff2c4/ACTARROW.ipch
VS.2015/.vs/Barony/v15/.suo
